page-about {
    .float-right {
        float: right;
    }
    .float-left {
        float: left;
    }
    .border-light {
        border: lightgray 1px solid;
    }
    .centered {
        text-align: center;
    }
    .margin-sm-right {
        margin: 10px;
    }
    .margin-sm-left {
        margin: 10px;
    }
    .text-md-bold {
        font-size: 1em;
        font-weight: bold;
    }
    .bold {
        font-weight: bold;
    }
}
