page-home {

    .label-ios{
        margin: 0px !important;
    }
    .label-md{
        margin: 0px !important;
    }
    
    .item-inner{
        padding: 0px !important;
        border-bottom: none !important;
    }

    .list-ios{
        margin: 0px !important;
    }

    .item {
        padding: 0px;
    }
 
    a {
        text-decoration: none;
        margin: 0px;
    }

    h4 {
        position: absolute;
        margin-top: -51px !important;
        padding-left: 20px;
        margin-left: 0px;
        color: #fff;
        font-size: 2em !important;
        text-shadow: 0x 0px 30px rgba(150, 150, 150, 1);
        text-transform: uppercase;
        opacity: 0.8;
    }

    .picture{
        position: relative;
        height: 165px;
        width: 100%;
        overflow:hidden;
        z-index: 0;
        img {
            width: 100%;
            margin-top: 0px;
            border-style: none;
        }
    }

    .picture:before {
        position: absolute;
        content: " ";
        background: color($colors, secondary);
        background-size: 100% 100%;
        width: 100%;
        height: 400%;
        z-index: 1;
        opacity: 0.5;
    }

    ion-content {
        
        margin-bottom: 0px;
        .scroll-content {
            padding-top: 0px;
            overflow: hidden;
        }
    }
    

}
