page-about {
    .float-right {
        float: right;
    }
    .float-left {
        float: left;
    }
    .border-light {
        border: lightgray 1px solid;
    }
    .centered {
        text-align: center;
    }
    .padding-sm-right {
        padding-right: 5px;
    }
    .text-md-bold {
        font-size: 1em;
        font-weight: bold;
    }
}
